#center
{
    bottom: 500px;
    background-color: antiquewhite;
   margin-top:20%;
   margin-left: 30%;
border: 2px solid black;
height: 200px;
width:500px;
/* left:500px;
right:500px; */

}
body{
    background-color:goldenrod;
}